body {
    margin:40px auto;
    line-height:1.6;
    font-size:18px;
    color:#454545;
    padding:0 10px
}
h1,h2,h3 {
    line-height:1.2
}

.meinPfad {
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 0.3em;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#co2Chart {
    background-color: #d2d0d1;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "map chart";
}

.map {
    grid-area: map;
    width: 100%;
}
.chart {
    grid-area: chart;
    width: 100%;
}
